<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>{% block title%} {% endblock %}</title>
     <style type="text/css">
  body
{
  background-image: url('/static/hmsmain/img/5.jpg');
      background-image: ;
  background-size: cover;
      background-repeat: repeat;
       background-repeat: repeat-x;
      background-repeat: repeat-y;
      height: 300px;
    width: 100%;
}

  </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;
    color:black;background: transparent;opacity: 5;font-weight:bold;background: rgba(80, 80, 80, 0.2);">
  <a class="navbar-brand" href="/hmsmain">NITC Health Centre</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/hmsmain">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/hmsmain/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/hmsmain/facilities">Facilities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/hmsmain/people">People</a>
      </li>
                    {% if user.is_authenticated %}
                         <li class="nav-item">
                             <a class="nav-link" href="#" style="color: darkslategrey"><i>Hello, {{ request.user }}</i></a>
      </li>

  </li>


                        <a class="nav-link" href="/hmsmain/userHome">User Home</a>
                        </li>
                        <li>
                        <a class="nav-link" href="/hmsmain/logout1">Logout</a>
                        </li>

                    {% else %}
                        <li>
                        <a class="nav-link" href="/hmsmain/login">
                            Login</a>
                    {% endif %}
      </li>

    </ul>
  </div>
</nav>
  {% block body %} {% endblock %}


     <div style= "text-align: center;
  background: dimgrey;
  color: gainsboro;
  font-size: large;
  height: 25px;
  margin:400px 0 0 10px;background-color: #e3f2fd;
    color:black;background: transparent;opacity: 5;font-weight:bold;background: rgba(80, 80, 80, 0.5);">
      Copyright &copy; NITCHealthCentre || Email :- info@nitchealthcentre.com || Web :- www.nitchealthcentre.com
 </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>



