{% extends 'hmsmain/basic.html' %}

{% block title%} Index {% endblock %}
{% block body %}
    <div class="jumbotron" style="background-color: #e3f2fd;
    color:black;background: transparent;opacity: 5;font-weight:bold;background: rgba(80, 80, 80, 0.6);margin: 180px 20px 10px 20px;">
  <h1 class="display-4">Welcome to NITC Health Centre</h1>
  <p class="lead">Medical care is offered by the Institute at its own Health Centre having 10 beds. There are two Medical Officers- a Lady Medical Officer, a Resident Medical Officer-and qualified nursing staff to look after the health needs of the campus residents. </p>
</div>
{% endblock %}