{% extends 'hmsmain/basic.html' %}

{% block title%} Index {% endblock %}
{% block body %}
    <div class="jumbotron" style="background-color: #e3f2fd;
    color:black;background: transparent;opacity: 5;font-weight:bold;background: rgba(80, 80, 80, 0.9);margin: 180px 20px 10px 20px;">
  <pre class="lead">
      There are two Medical Officers- a Lady Medical Officer, a Resident Medical Officer-and
      qualified nursing staff to look after the health needs of the campus residents.

      Dr	A A Celine	Resident Medical Officer
  </pre>
</div>
{% endblock %}

