{% extends 'hmsmain/basic.html' %}

{% block title%} Title of Order{% endblock %}
{% block body %}

<div class="container" style="background-color: #e3f2fd;
    color:black;background: transparent;opacity: 5;font-weight:bold;background: rgba(80, 80, 80, 0.9);margin: 80px 5px 5px 20px;">
<br>
    <h1 style="color: oldlace">&nbsp;Consumption History</h1>
<br>
    {% for m in consumptionl %}
        <table class="table" >
<th>
                <td style="color: lightblue">Issue ID::</td>
                <td style="color: black;">&nbsp;&nbsp;&nbsp;{{ m.pk }}</td>
                <td style="color: lightblue">Patient Detail::</td>
                <td style="color: black;">&nbsp;&nbsp;&nbsp;{{ m.patientID }}</td>
                <td style="color: lightblue">Diagnosis::</td>
                <td style="color: black;">&nbsp;&nbsp;&nbsp;{{ m.desc }}</td>
                <td style="color: lightblue">Datet::</td>
                <td style="color: black;">&nbsp;&nbsp;&nbsp;{{ m.dateIssued }}</td>
                </th>
        </table>
<table class="table">
        <tr>
        {% for o in consumptiondetaill %}

    {%  if m == o.ccid %}
                <td style="color: lightgray">Medicine Name:</td>
                <td style="color: black;">&nbsp;&nbsp;&nbsp;{{ o.cmid }}</td>
                <td style="color: lightgray">Quantity: </td>
                <td style="color: black">&nbsp;&nbsp;&nbsp;{{ o.cmqty }}</td>
                <td style="color: lightgray">Price Per Unit </td>
                <td style="color: black">&nbsp;&nbsp;&nbsp;{{ o.cmid.mprice }}</td>

</tr>
{%  endif %}
            {%  endfor %}


<tr>

</tr>
         </table>
<hr style="border: 1px groove white;" />
        <br>
        <br>
        <br>
{%  endfor %}


</div>
{% endblock %}

</html>